.Rproj.user
.Rhistory
.RData
00check.log
zeptosensPkg/inst/shinyApp/dist_ind.txt
zeptosensPkg/inst/shinyApp/dist_ind.txt
precommit.log
zeptosensPkg/inst/shinyApp/file1TS.txt
zeptosensPkg/inst/shinyApp/file1wk.txt
zeptosensPkg/inst/shinyApp/p.txt
zeptosensPkg/inst/shinyApp/q.txt
zeptosensPkg/inst/shinyApp/randts.txt
zeptosensPkg/inst/shinyApp/TS_d.txt
zeptosensPkg.Rcheck
zeptosensPkg_*.tar.gz
zeptosensPkg/inst/test_data/output
zeptosensPkg/inst/test_data/output_s2
zeptosensPkg/inst/test_data/output_s3
zeptosensPkg/inst/test_data/output_s1
zeptosensPkg/inst/shiny/rsconnect
ignore_rsconnect.R
targetscore.Rcheck
targetscore_0.99.15.tar.gz
